.nav-container {
  display: flex;
  background: #222;
  padding: 1px;
  gap: 0.8rem;
}

.nav-container .side-nav {
  flex: 1;
  padding: 20px;
  border: 1px solid #5e5959;
  border-radius: 0.5rem;
}

.side-nav .item {
  margin-bottom: 10px;
}

.side-nav .item a {
  text-decoration: none;
  color: #333;
  color: blue;
}

.side-nav .item a:hover {
  color: #555;
}

.side-nav .item input[type="checkbox"] {
  margin-right: 10px;
}

.item-container {
  flex: 3;
  padding: 20px;
  overflow: hidden;
  text-align: center;
}

.item-container .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30%;
}

.card-container .card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
}

.card-container .card .item-img {
  width: 200%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.card .card-text {
  text-align: center;
}

.card .type {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: 1px solid green;
  background-color: green;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

.card .discount {
  position: absolute;
  top: 4rem;
  left: 2rem;
  border: 1px solid red;
  background-color: red;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
}

.card .brand {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.card .name {
  font-size: 20px;
  color: #000;
}

.card .star {
  color: #ffcc00;
}

.card .price {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.card .cart-link {
  margin-top: 20px;
}

.card .cart-link a {
  text-decoration: none;
  color: #333;
  background-color: #ffd700;
  padding: 10px 20px;
  border-radius: 5px;
}

.card .cart-link a:hover {
  background-color: #ffcc00;
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-container .card-container {
    padding-left: 0;
  }

  .card-container .card {
    width: calc(50% - 20px);
  }
}