.nav-container{
    background: #222;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.nav-container .side-nav{
    background-color: rgb(86, 84, 84);
    padding: 10px;
    width: 30%;
    border-radius: 3px;

    .item{
        padding: 10px;

        a{
            margin-left: 5px;
            color: greenyellow;

            &:hover{
                color: red;
                transition: ease 0.5s;
            }
        }
    }
}
.item-container{
    width: 40%;
    margin: 2rem;
}
.item-container .card-container{
    margin-left: -10rem;
    margin-right: 10rem;
}
.card{
    position: relative;
    margin-bottom: 2rem;
}
.card img{
    width: 30%;
    height: 40vh;
}
.card .type{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.2rem;
    border: 1px solid green;
    border-radius: 3px;
    background: green;
    font-size: 10px;
}
.card .discount{
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    padding: 0.2rem;
    border: 1px solid red;
    border-radius: 3px;
    background: red;
    font-size: 10px;    
}
.card h4{
    text-transform: uppercase;
    margin-top: 1rem;
    color: #8a8484;
}
.card h2{
    color: rgb(47, 217, 47);
    letter-spacing: 1px;
}
.card p del{
    color: #8a8484;    
}
.card p span{
    font-size: 30px;
}

/* Adjusting styles for 768px */

.nav-container {
    flex-direction: column;
    align-items: center;
}

.nav-container .side-nav {
    width: 100%;
    margin-bottom: 1rem;
}

.item-container {
    width: 100%;
    margin: 1rem;
}

.item-container .card-container {
    margin: 0;
}

.card img {
    width: 100%;
    height: auto;
}

.card .type,
.card .discount {
    font-size: 8px; /* Adjust font size for smaller screens */
    padding: 0.1rem; /* Adjust padding for smaller screens */
}
